
  <body id="profil">    
    <div id="place">
      <%= form_tag profile_avatars_path(current_client), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "mettre à jour",class:"btn btn-outline-success" %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
        <div class="tutor-block">
          <div class="tutor-img">
            <%if @client.avatar.attached?%>
              <%= image_tag @client.avatar, alt: 'avatar', id:"pdp", class:"rounded-circle img-rounded img-responsive" %>
            <%else%>
              <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
            <%end%>
          </div>
            
          <div class="tutor-content">
            <h5 class="tutor-title"><%= @client.first_name %></h5>
              <span class="tutor-designation"><%= @client.last_name %></span>
                <p>Quisque malesuada nullanec mivarius efficitur. stibulum sollicitudin tortor vellorem.</p>
            <%= link_to "Edit profile", edit_client_registration_path(current_client.id), class:"btn btn-primary" %>
          </div>
      
        </div>
      </div>
    </div>
  </body>



