
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700" rel="stylesheet">
  <title> Sign up </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="signup.css" rel="stylesheet">
</head>

<body id="sign-up-gerant">
<div class="signup-form">
  <div class="form-header-gerant-sign-up">
    <h2>Inscription Gérant</h2>

    <div class="form-group">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>



        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>



        <div class="form-group">
          <%= f.label :mot_de_passe %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères au moins)</em>
          <% end %>
          <br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>


        <div class="form-group">
          <%= f.label :confirmez_à_nouveau_votre_mot_de_passe %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "S'inscrire", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>






