<ul>
  <% if client_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_client_session_path, method: :delete %>
    </li>

    <li>
      First name : <%= current_client.first_name %>
    </li>

    <li>
      Last name : <%= current_client.last_name %>
    </li>

    <li>
      Voici ton email : <%= current_client.email %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_client_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_client_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_client_registration_path %>
    </li>

  <% end %>
</ul>