<section  id="reservation"  class="description_content">
            </div>
            <div class="text-content container"> 
                <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                            <!-- Left Inputs -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-xs-12">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-6">
                                                    <%= form_tag url_for(action: 'create'), method: "post" do %>
                                                    <%= label_tag 'Nombres de personnes:' %> 
                                                    <%= number_field_tag  'nbr_person', @reservation.nbr_person, class:'form' %>
                                                     <%= hidden_field_tag 'client', current_client%> 
                                                     <%= label_tag 'Dates:' %> 
                                                     <%= datetime_field_tag  'date', @reservation.date, class:'form'%> 
                                                     <%= submit_tag "Reserver", class: "text-center form-btn form-btn" %>
                                                    <%end%>
                                                <!-- Name -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <!-- Message -->
                                        <div class="right-text" id="text">
                                            <h2>Hours</h2><hr>
                                            <p>Monday to Friday: 7:30 AM - 11:30 AM</p>
                                            <p>Saturday & Sunday: 8:00 AM - 9:00 AM</p>
                                            <p>Monday to Friday: 12:00 PM - 5:00 PM</p>
                                            <p>Monday to Saturday: 6:00 PM - 1:00 AM</p>
                                            <p>Sunday to Monday: 5:30 PM - 12:00 AM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Clear -->
                            <div class="clear"></div>
              
                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->
           
        </section>