<%if gerant_signed_in?%>

  <div class="container">
    <div class="row">
      <table class="table table-bordered">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Nom du restaurant</th>
          <th scope="col">Date de reservation</th>
          <th scope="col">Nombre </th>
          <th scope="col">Action</th>
        </tr>
          <%@reservations.each do |reservation|%>
            <%if reservation.restaurant.gerant.id == current_gerant.id%>
              <tbody>
                <tr id ="<%=reservation.id%>">
                  <td ><%=reservation.client.last_name%></td>
                  <td><%=reservation.restaurant.name%></td>
                  <td><%=reservation.date%></td>
                  <td><%=reservation.nbr_person%></td>
                  <td><%= link_to 'Annuler',reservation_path(reservation.id), method: :delete, remote: true %> </td>
                </tr>
              </tbody>
            <%else%>
              <p> Vous n'avez pas encore de reservation pour le moment</p>
            <%end%>
          <%end%>
      </table>
    </div>
  </div>

<%elsif%>

<%if client_signed_in? %>
  <div class="container">
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Nom du restaurant</th>
        <th scope="col">Date de reservation</th>
        <th scope="col">Nombre </th>
        <th scope="col">Action</th>
      </tr>
      </thead>
        <%@reservations.each do |reservation|%>
        <%if reservation.client.id == current_client.id%>
          <tbody>
          <tr id ="<%=reservation.id%>">
            <td ><%=reservation.client.last_name%></td>
            <td><%=reservation.restaurant.name%></td>
            <td><%=reservation.date%></td>
            <td><%=reservation.nbr_person%></td>
            <td><%= link_to 'annuler',reservation_path(reservation.id), method: :delete, remote: true %> </td>
          </tr>
          </tbody>
      <%else%>
      <%end%>
      <%end%>
  <%end%>
</table>
<td>  <%= link_to 'Réserver nouveau',new_reservation_path, class: "btn btn-info"%></td>
</div>
</div>

<%end%>
