<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>

<%= form_tag url_for(action: 'create'), method: "post" do %>


<%= label_tag 'Nombres de personnes:' %> <%= number_field_tag  'nbr_person', @reservation.nbr_person %> <br /> <br />
<%= label_tag 'Dates:' %> <%= datetime_field_tag  'date', @reservation.date%> <br /> <br />
<%= submit_tag "Reserver", class: "btn btn-warning" %>
<%end%>
