<body id="client">
  <section  id="reservation"  class="description_content">
    <h2>CREATION Foods</h2>
      <div class="text-content container"> 
        <div class="inner contact">    

          <%=form_tag url_for(action:'create'), method: "POST" do %>
            <div class="col-lg-6 col-md-6 col-xs-6" id="alignement">
              <div class="form-group">          
                <%= text_field_tag 'name', @food, class:"form-create", id:"first_name" , placeholder:"Nom du repas" %>
              </div>

              <div class="form-group">           
                <%= text_area_tag 'description', @food , class:"form-create", id:"first_name", rows:"3" ,placeholder:"description" %>
              </div>
        
              <div class="form-group">           
                <%= text_field_tag 'price', @food,class:"form-create", id:"first_name", placeholder:"Prix ( ariary )" %>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6" id="alignement">
              <div class="form-group">           
                <%= text_field_tag 'duration', @food,class:"form-create", id:"first_name", placeholder:"Durée de préparation (minute)" %>
              </div>

              <div class="form-group">
                <%= url_field_tag 'image_url',@food,class:"form-create", id:"first_name", placeholder:"image" %>
              </div>
          
              <select id="menu_id first_name" name="menu_id" class="form-create">
                <option value="1">Dessert</option>
                <option value="2">Entrée</option>
                <option value="3">Résistance</option>
                <option value="4">Boisson</option>
              </select>
            </div>
            <div id="bott">
              <%= submit_tag "Create food",class:"btn btn-success" %>
            </div>
        <%end%>


        </div>
      </div>
  </section>
</body>
