<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <style media="screen">

  form
    {
      /* Uniquement centrer le formulaire sur la page */
        margin: 5;
        width: 400px;
          /* Encadré pour voir les limites du formulaire */
            padding: 1em;
            border: 0px solid #CCC;
            border-radius: 1em;

          }

          button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 60px; /* même taille que les étiquettes */
    padding-right: 57px;
  }

  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: 3em;

  }

  </style>

  <body>
<br />
<h1><center>CREATION Foods...</center></h1>

<%=form_tag url_for(action:'create'), method: "POST" do %>

  <%= label_tag 'name of product:' %></br>
  <%= text_field_tag 'name', @food%>
  <br /> <br />

  <%= label_tag 'description:' %></br>
  <%= text_area_tag 'description', @food%>
  <br /> <br />

  <%= label_tag 'price: ( € )' %></br>
  <%= text_field_tag 'price', @food %>
  <br /> <br />

  <%= label_tag 'duration: (mn)' %></br>
  <%= text_field_tag 'duration', @food %>
  <br /> <br />


  <%= label_tag 'Image:' %></br>
  <%= url_field_tag 'image_url',@food %><br /><br />



  <select id="menu_id" name="menu_id">
  <option value="1">Dessert</option>
  <option value="2">Entrée</option>
  <option value="3">Résistance</option>
  <option value="4">Boisson</option>
</select><br /><br />


  <%= submit_tag "Create food" %>
<%end%>

  </body>
</html>
