<center><h2><%=@menu.category%>s disponibles </h2></center>


<%@restaurant.foods.each do |food|%>
    <%if food.menu.id== @menu.id%>
    <div class="container-fluid" id = "foodcard">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper" id= imagefood>
                          <% if food.foodavatar.attached? == true%>
                              <%= image_tag food.foodavatar%></br>
                          <%else%>
                           <%=image_tag food.image_url, alt:"img.jpg", id:"imagefood"%></br>
                          <%end%>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" id = "foodtitle"><%=food.name%></h4>

                              <strong>Description: </strong></br> <%=food.description%></br></br>
                              <strong>Temps de préparation: </strong><%=food.duration%> mn</br>
                              <strong>Prix: </strong><b><%=food.price%> €</b></br

                            <%if gerant_signed_in? %>
                            <p>
                                    <%= form_tag foodavatar_path(@menu.id,food.id), multipart: true do %>
                                    <%= file_field_tag :foodavatar, direct_upload: true %></br>
                                    <%= submit_tag "mettre à jour" %>
                            <%end%>
                            </p>
                            <span>
                                <%=link_to "Edit", edit_food_path(food.id), class: "btn btn-warning"%>
                                <%= link_to 'Destroy', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
                                <%end%>
                            </span>
                            <span>
                                <%=link_to "Commander", command_food_path(food.id), class: "btn btn-warning"%>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <%end%>
<%end%>
