<center><h2><%=@menu.category%>s disponibles </h2></center>
<%@restaurant.foods.each do |food|%>
<%if food.menu.id== @menu.id%>
    <div class ="food_content">
        <%=food.name%>
    </div>
    <% if food.foodavatar.attached? == true%>
        <%= image_tag food.foodavatar,class:"food_image"%></br>
    <%else%>
     <%=image_tag food.image_url%></br>
    <%end%>


    <div class ="food_description">
        <span>Description: </span></br> <%=food.description%></br></br>
        <span>Temps de préparation: </span><%=food.duration%> mn</br>
        <span>Prix: </span><b id="prix"><%=food.price%> €</b></br>

    </div>

    <%if gerant_signed_in? %>
    <div class ="food_buttonImage">
            <%= form_tag foodavatar_path(@menu.id,food.id), multipart: true do %>
            <%= file_field_tag :foodavatar, direct_upload: true %></br>
            <%= submit_tag "mettre à jour" %>
    <%end%>
    </div>
        <div class ="food_button">
            <%=link_to "Edit", edit_food_path(food.id), class: "btn btn-warning"%>
            <%= link_to 'Destroy', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
            <%end%>
            <%=link_to "Commander", command_food_path(food.id), class: "btn btn-warning"%>
            <br> <br> <br> <br>
        </div>
    <%end%>
      <%end%>
    </br>
