<h1>Foods#show</h1>
<p>Find me in app/views/foods/show.html.erb</p>

<%@menu.foods.each do |food|%>

    <b>Nom: </b> <%=food.name%></br>
    <% if food.foodavatar.attached? == true%>
          <%=image_tag food.foodavatar%>
      <%else%>
      <img src="<%=food.image_url%>">
      <%end%>
    </br>
    <span>Description: </span> <%=food.description%></br>
    <span>Prix: </span><%=food.price%> €</br>
    <span>Temps de préparation: </span><%=food.duration%> mn </br>


    <%= form_tag foodavatar_path(@menu.id,food.id), multipart: true do %>
        <%= file_field_tag :foodavatar, direct_upload: true %>
        <%= submit_tag "mettre à jour" %>
    <%end%>

    <!-- <%=link_to "Commander", edit_food_path(food.id), class: "btn btn-warning"%> -->
        <%=link_to "Edit", edit_food_path(food.id), class: "btn btn-warning"%>
    <%= link_to 'Destroy', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%>
<br> <br> <br> <br>
    <%end%>
