<body id="editResto">
	<div id="tire">
		<%= form_tag url_for(action: 'update'), method: "patch" do %>
				
			<div class="nom">
				<%= label_tag 'Nom' %>
				<%= text_field  'name', @restaurant , class:"t"%>
			<br>
		
				<%= label_tag 'Description' %>
				<%= text_field 'description', @restaurant, class:"t" %>
			<br>

				<%= label_tag 'Adresse' %>
				<%= text_field 'address', @restaurant, class:"t" %>
			<br>

				<%= label_tag 'URL' %>
				<%= url_field_tag 'image_url', @restaurant, class:"t" %>
			<br>
					
				<div id="boutt">
					<center><%= submit_tag "Editer votre restaurant", class:"btn btn-primary" %></center>
				<div>
			<div>
		<% end %>
	</div>
</body>


