<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<center><%=link_to "ajouter ",new_restaurant_path,class:"btn btn-primary", type:"button"%></center>
<%@restaurants.each do|restaurant|%>
    <% if restaurant.restoavatar.attached? == true%>
        <%=image_tag restaurant.restoavatar%>
    <%else%>
        <%= image_tag restaurant.image_url%>
     <%end%>

<%=restaurant.name%>
<%=link_to "show", restaurant_path(restaurant.id)%>  </br>
<% end %>
