<body style="background-color:powderblue;">
           <center> 
                  <h1>Ajouter votre restaurant</h1>
               
                 <%= form_tag url_for(action: 'create'), method: "post" do %>
               
                 <%= label_tag 'name :' %><br />
                 <%= text_field  'name', @restaurant, placeholder: "Intitulé ", class: "resto-group" %>
                 <br /> <br />
               
                 <%= label_tag 'description :'%><br />
                 <%= text_field 'description', @restaurant, placeholder: "Décrivez votre restaurant", class: "resto-group" %>
                 <br /> <br />
                
                  <%= label_tag 'address :'%><br />
                 <%= text_field 'address', @restaurant, placeholder: "Votre local ", class: "resto-group"%>
                 <br /> <br />
                
                 <%= label_tag 'image_url :'%><br />
                 <%= url_field_tag 'image_url', @restaurant, placeholder: "Image", class: "resto-group"%>
                <br /> <br />
                
                 <%= submit_tag "Create restaurant" %>
                 <% end %>
  </center>               
</body>
