<body id="view-img">
  <section id="wall">
    <div class="col-sm-4" id="show-center">
      <div class="#" style="width: 34rem;">
        <div class="card center" >
       <% if @restaurant.restoavatar.attached? == true%>
          <div class="w"><%=image_tag @restaurant.restoavatar%></div>
          <%else%>
          <div class="w"><%=image_tag @restaurant.image_url%></div>
          <%end%>
          <div class="card-body" id="card-view">
              <h5 class="card-title"><%=@restaurant.name%></h5>
              <p class="card-text">
                <%=@restaurant.description%>
                <%=@restaurant.address%>
            </p>
          </div>
          <%=link_to "Menus", menus_path, class: "btn btn-info"%>
          <%=link_to "Reserver table", new_reservation_path, class: "btn btn-primary",class:"btn btn-primary"%>
             <% if gerant_signed_in? %>
          <%=link_to "Editer",  edit_restaurant_path, class:"btn btn-success"%>
          <%= link_to 'Destroy',restaurant_path, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
          
         <%= form_tag restaurant_restoavatar_index_path(session[:resto_id]), multipart: true do %>
         <%= file_field_tag :restoavatar %>
         <%= submit_tag "mettre à jour" %>
         <% end %>
         <%else%>

          <%end%>


        </div>
      </div>
    </div>
  </section>
</body>
