<%if client_signed_in?%>
<center><h1>Vos commandes</h1></center> <br>
<div class="allcom">
      <% @commands.each do |command| %>
        <%if command.client.id == current_client.id%>
      <div id = "main" class="card border-secondary mb-3" style="max-width: 18rem;">
        <div id = "comtitle" class="card-header"><center>Commande n° <%= command.id%></center></div>
        <div class="card-body text-secondary" id = "command">
          <h5 class="card-title">Nom du client: <%=command.client.first_name %></h5>
          <h5 class="card-title">Liste des répas</h5>
          <% command.foods.each do |food|%>
          <h5 style="margin-left:5%;" class="card-title">
              <h5 class="card-title">- <%=food.name%> : <%=food.join_com_foods[0].quantity%> personnes </h5>
          </h5>

          <%end%>
            <h5 class="card-title"><i>Commandé le:</i>  <%=command.created_at %> </h5>
            <center> <%= link_to "Enlever de la liste",supr_path(command.id), class: "btn btn-warning" , style: "width:auto"%></center>
        </div>
      </div>
    <%end%>
<%end%>
</div>

<%else gerant_signed_in?%>
<center><h1>Commandes de tous le clients</h1></center> <br>
<div class="allcom">
      <% @commands.each do |command| %>
        <%if command.foods.ids[0] ==@restaurant.foods[0].id%>
      <div id = "main" class="card border-secondary mb-3" style="max-width: 18rem;">
        <div id = "comtitle" class="card-header"><center>Commande n° <%= command.id%></center></div>
        <div class="card-body text-secondary" id = "command">
          <h5 class="card-title">Nom du client: <%=command.client.first_name %></h5>
          <h5 class="card-title">Liste des répas</h5>
          <% command.foods.each do |food|%>
          <h5 style="margin-left:5%;" class="card-title">
              <h5 class="card-title">- <%=food.name%> : <%=food.join_com_foods[0].quantity%> personnes </h5>
          </h5>
          <%end%>
            <h5 class="card-title"><i>Commandé le:</i>  <%=command.created_at %> </h5>
            <center>  <%= link_to "Enlever de la liste",supr_path(command.id) , class: "btn btn-warning" , style: "width:auto"%></center>
        </div>
      </div>
    <%end%>
<%end%>
</div>
<%end%>
