<center> <h2>Liste de vos commandes</h2> </center>
<% @note.each do |n| %>
    <%p n[0]%>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <strong> <%= Food.find(n[0]).name %></strong>
      <span class="badge badge-primary badge-pill"><strong> <%= n[1] %> personnes</strong></span>
    </li>
  </ul>
    <%end%>

<%= form_tag('/commands', method: :post) do %>
 <%= link_to "Commander plus", menus_path, class: "btn btn-warning" %>
 <%= submit_tag "CONFIRMER COMMANDES", class: "btn btn-info" %>
<% end %>
