<center>
<ul id = "note">
<% @note.each do |n| %>
    <%p n[0]%>
    <li>
        <strong>Sakafo</strong>: <%= Food.find(n[0]).name %>
        <strong>Quantité</strong>: <%= n[1] %>
    </li>
    <%end%>
</ul>


<%= form_tag('/commands', method: :post) do %>
 <%= submit_tag "Voir votre réçu", class: "btn btn-info" %>
 <%= link_to "Commander plus", menus_path, class: "btn btn-warning" %>
<% end %>
</center>
