
<%if client_signed_in? || !gerant_signed_in? %>
        <div class="container">
              <div class="row">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <div class="container h-100">
                  <div class="d-flex justify-content-center h-100"></div>
              </div>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Foodstore</a>
            </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="color_animation" href="<%=root_path%>">Accueil</a></li>
                        <li><a class="color_animation" href="#story">Our team</a></li>
                        <li><a class="color_animation" href="<%=reservations_path%>">Reservation</a></li>
                    
                        <!--   dropdown   -->
                      <% if client_signed_in? %>
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">

                              <%if current_client.avatar.attached?%>
                                <%=image_tag current_client.avatar, alt: 'avatar', id:"round", style:"margin-top: -15%"%>
                              <%else%>
                                <%=current_client.first_name%> 
                              <%end%>

                            </a>
                              <div class="dropdown-content">
                                <a class="Ldrop" href="<%=profiles_path%>">Mon profil</a>
                                <a class="Ldrop" href="/clients/sign_out">Deconnexion</a>
                              </div>
                      <% else %>          
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">Client</a>
                            <div class="dropdown-content">
                                <a class="Ldrop" href="/clients/sign_up">S'inscrire</a>
                                <a class="Ldrop" href="/clients/sign_in">Se connecter</a>
                              </div>
                          </li>

                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">Gerant</a>
                            <div class="dropdown-content">

                                <a class="Ldrop" href="/gerants/sign_in">Se connecter</a>

                            </div>
                          </li>
                      <% end %>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </div>
          </div><!-- /.container-fluid -->

<%else%>
          <%if gerant_signed_in? %>
           <div class="container">
              <div class="row">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <div class="container h-100">
                  <div class="d-flex justify-content-center h-100"></div>
              </div>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Foodstore</a>
            </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="color_animation" href="<%=root_path%>">Accueil</a></li>
                        <li><a class="color_animation" href="#story">Our team</a></li>
                        <li><a class="color_animation" href="<%=reservations_path%>">Reservation</a></li>
                    
                        <!--   dropdown   -->
                      <% if gerant_signed_in? %>
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">
                                <%=current_gerant.email%> 
                            </a>
                              <div class="dropdown-content">
                                <a class="Ldrop" href="/gerants/sign_out">Deconnexion</a>
                      <% else %>          
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">connexion</a>
                            <div class="dropdown-content">
                                <a class="Ldrop" href="/gerants/sign_up">S'inscrire</a>
                                <a class="Ldrop" href="/gerants/sign_in">Se connecter</a>
                              </div>
                          </li>
                      <% end %>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </div>
          </div><!-- /.container-fluid -->
        <% end %>
<%end%>