<!DOCTYPE html>
<html>
  <head>
    <title>FoodStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="apps.css" type="text/css">
  </head>

  <body>
    <div id="nav"> 
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-nav">
      <a class="navbar-brand" id="acc" href="<%=root_path%>">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent col">
        <ul class="navbar-nav mr-auto">

          <div id="back">
          <% if client_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=current_client.first_name%> 

                <%if current_client.avatar.attached?%>
                <%=image_tag current_client.avatar, alt: 'avatar',class:"rounded-circle"%>
                <%else%>
                 
                <%end%>
              </a>
       

              <div class="dropdown-menu" id="menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%=profiles_path%>">Mon Profil</a>
                <a class="dropdown-item" href="/clients/sign_out">Deconnexion</a>
              </div>

          <%else%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connexion</a>
                  <div class="dropdown-menu" id="menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clients/sign_up">S'inscrire</a>
                    <a class="dropdown-item" href="/clients/sign_in">Se connecter</a>
                  </div>
              </li>

          <%end%>
          </div>
        </ul>
      </div>
    </nav>
    </div>
    <%= yield %>
  </body>
        <!-- Compiled and minified JavaScript -->
  
            
</html>
