<!DOCTYPE html>
<html>
  <head>
    <title>FoodStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
  </head>

  <body>
    <!-- ============ NavBar  ============= -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="row">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Foodstore</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav main-nav  clear navbar-right ">
                          <li><a class="color_animation" href="<%=root_path%>">Accueil</a></li>
                          <li><a class="color_animation" href="#story">Our team</a></li>
                          <li><a class="color_animation" href="<%=reservations_path%>">Reservation</a></li>
                      
                        
                        <!--   dropdown   -->
                      <% if client_signed_in? %>
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">

                              <%if current_client.avatar.attached?%>
                                <%=image_tag current_client.avatar, alt: 'avatar', id:"round", style:"margin-top: -15%"%>
                              <%else%>
                                <%=current_client.first_name%> 
                              <%end%>

                            </a>
                              <div class="dropdown-content">
                                <a href="<%=profiles_path%>">Mon profil</a>
                                <a href="/clients/sign_out">Deconnexion</a>
                      <% else %>          
                          <li class="dropdown">
                            <a class="color_animation" href="#dropdown">connexion</a>
                            <div class="dropdown-content">
                                <a href="/clients/sign_up">S'inscrire</a>
                                <a href="/clients/sign_in">Se connecter</a>
                              </div>
                          </li>
                      <% end %>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </div>
          </div><!-- /.container-fluid -->
      </nav>
  <%= yield %>

		<footer class="footer-distributed">
			<div class="footer-left">
				<h3>Company<span>logo</span></h3>
				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>
				<p class="footer-company-name">Coder-Brain &copy; 2019</p>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p>21 Revolution Street Paris, France</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="https://github.com/chris241/food_store">https://github.com/food_store</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</footer>
    

<!-- Footer --> 

  </body>
</html>
